@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.icon-container {
  margin-right: 5px;
}

.search-icon {
  margin-right: 10px;
  font-size: 18px;
  padding-top: 2px;
}

.login-icon {
  margin-right: 10px;
}

.section-height {
  height: 250px;
}
@media screen and (min-width: 600px) {
  .section-height {
    height: 300px;
  }
}

.phone-ad {
  background-image: url("iphone-16-demo2.jpg");
  background-size: cover;
  background-position: center;
}

.img-con {
  height: 100%;
  width: 100%;
}

.carousel {
  margin: 0px !important;
  padding: 0px !important;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  background-color: white;
  position: relative;
}

.navbar-container {
  background-color: black;
  width: 100%;
  backdrop-filter: blur(500);
  position: relative;
  padding: 3px;
}

.list-containe {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.list-items {
  text-decoration: none !important;
  color: black !important;
  margin-right: 8px;
  margin-left: 8px;
}

.main-logo {
  position: absolute;
  color: white !important;
  left: 0px;
  margin-left: 3px;
}

.ham {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.ham-bar {
  font-size: 20px;
  color: white;
}

.search-icon {
  margin-right: 8px;
  font-size: 20px;
  padding-top: 5px;
  color: white;
}

.login-icon {
  margin-right: 8px;
  color: white !important;
}

.side-menu {
  background-color: gray;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(220, 187, 187);
  display: none;
  height: 65vh;
  width: 55vw;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
}

.animation-sidemenu {
  animation: show 0.2s linear;
}

.show-side-menu {
  display: block;
}

.side-menu-list {
  color: white;
  font-size: 25px;
}

.close-icon-container {
  background-color: white;
  height: 60px;
  padding-top: 8px;
}

.offer2-con {
  height: 150px;
}

@media screen and (min-width: 600px) {
}

.catagory {
  background-color: #ffffff;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid gray;
}

.product-catagory {
  /* background-color: #ffd4b3;  */
  display: flex;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.catagory:hover {
  background-color: #ffe7d4;
  transition-duration: 0.2s;
}

.catagory:hover i {
  transform: rotateX(0deg) translateY(-20px) scale(1.5);
  margin: 11px;
  padding: 2px;
  transition-duration: 0.3s;
}

.catagory:hover .catagory-name {
  display: block;
}

.catagory-name {
  color: #000000;
  font-weight: bold;
}

.deals-of-today-container {
  padding: 15px 15px 5px 5px;
}

.product-container {
  /* box-shadow: 0px 0px 8px 8px gray;  */
  background-color: #ffffff;
  height: 210px;
  width: clamp(220px, 25vw, 225px);
  padding: 10px;
  border-radius: 6px;
}

.img-container {
  background-color: rgb(247, 247, 247);
  padding-top: 10px;
}

.product-cost {
  font-size: 15px;
  font-weight: 700;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
}

.Product-image {
  height: clamp(10vh, 16vh, 20vh);
  width: clamp(10vh, 16vh, 20vh);
  margin-bottom: 25px;
  margin-top: 5px;
}

.view-more-anchor {
  color: #000000 !important;
  text-decoration: none !important;
}

.view-more-anchor:hover {
  text-decoration: underline !important;
  color: rgb(29, 166, 245) !important;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
